{{{paramName}}}: {{#isPathParam}}web::Path<{{/isPathParam}}{{#isString}}String{{/isString}}{{#isLong}}i64{{/isLong}}{{#isBoolean}}bool{{/isBoolean}}{{#isDate}}NaiveDate{{/isDate}}{{#isDateTime}}DateTime{{/isDateTime}}{{#isUuid}}Uuid{{/isUuid}}{{#isPathParam}}>{{/isPathParam}},
