Uni<{{#returnResponse}}Response{{/returnResponse}}{{^returnResponse}}{{#returnContainer}}{{#isMap}}Map<String, {{{returnBaseType}}}Dto>{{/isMap}}{{#isArray}}{{{returnContainer}}}<{{{returnBaseType}}}{{^vendorExtensions.x-java-is-response-void}}Dto{{/vendorExtensions.x-java-is-response-void}}>{{/isArray}}{{/returnContainer}}{{^returnContainer}}{{{returnBaseType}}}{{^vendorExtensions.x-java-is-response-void}}Dto{{/vendorExtensions.x-java-is-response-void}}{{/returnContainer}}{{/returnResponse}}>
