package {{package}};

{{#imports}}
import {{import}}Dto;
import {{import}};
{{/imports}}

//import {{javaxPackage}}.ws.rs.*;
//import {{javaxPackage}}.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;
import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;

{{#useGzipFeature}}
import org.jboss.resteasy.annotations.GZIP;
{{/useGzipFeature}}

{{#useSwaggerAnnotations}}
import io.swagger.annotations.*;
{{/useSwaggerAnnotations}}
{{#supportAsync}}
import java.util.concurrent.CompletionStage;
import java.util.concurrent.CompletableFuture;
{{/supportAsync}}

import java.io.InputStream;
import java.util.Map;
import java.util.List;
{{#useBeanValidation}}
//import {{javaxPackage}}.validation.constraints.*;
//import {{javaxPackage}}.validation.Valid;
import jakarta.validation.constraints.*;
import jakarta.validation.Valid;
{{/useBeanValidation}}
{{^interfaceOnly}}
import org.hibernate.reactive.mutiny.Mutiny;
import org.eclipse.microprofile.reactive.messaging.Channel;
import org.eclipse.microprofile.reactive.messaging.Emitter;
//import javax.inject.Inject;
import jakarta.inject.Inject;
import org.jboss.logging.Logger;
import org.jboss.resteasy.reactive.RestStreamElementType;

import io.smallrye.mutiny.Multi;
import io.smallrye.mutiny.Uni;
import {{invokerPackage}}.Mappers;
{{/interfaceOnly}}

@Path("{{commonPath}}"){{#useSwaggerAnnotations}}
@Api(description = "the {{{baseName}}} API"){{/useSwaggerAnnotations}}{{#hasConsumes}}
@Consumes({ {{#consumes}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
@Produces({ {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}} }){{/hasProduces}}
{{>generatedAnnotation}}
public {{#interfaceOnly}}interface{{/interfaceOnly}}{{^interfaceOnly}}class{{/interfaceOnly}} {{classname}} {
{{^interfaceOnly}}

    private static final Logger LOGGER = Logger.getLogger({{classname}}.class);

    @Inject
    @Channel("{{baseName}}")
    Multi<{{imports.0.classname}}> incomingChannel;

    @Inject
    @Channel("{{baseName}}")
    Emitter<{{imports.0.classname}}> emitter;

    @Inject
    Mutiny.SessionFactory sf;

    @Inject
    Mappers mappers;

//    @Inject
//    public {{classname}}(Mutiny.SessionFactory sf,Mappers mappers){
//      this.sf = sf;
//      this.mappers = mappers;
//    }

{{/interfaceOnly}}
{{#operations}}
{{#operation}}

{{#interfaceOnly}}{{>apiInterface}}{{/interfaceOnly}}{{^interfaceOnly}}{{>apiMethod}}{{/interfaceOnly}}
{{/operation}}

    @GET
    @Path("/stream")
    @RestStreamElementType(MediaType.APPLICATION_JSON)
    public Multi<{{imports.0.classname}}> get{{imports.0.classname}}Stream() {
        Uni<List<{{imports.0.classname}}>> listUni = sf.withTransaction(session -> session.createQuery("FROM {{imports.0.classname}}s",{{imports.0.classname}}.class).getResultList());
        Multi<{{imports.0.classname}}> listMulti = listUni.onItem().transformToMulti(item -> Multi.createFrom().iterable(item));
        return Multi.createBy().merging().streams(incomingChannel,listMulti);
    }

}
{{/operations}}
