# Configuration file
# key = value
quarkus.http.port=8080
mp.openapi.scan.disable=true
quarkus.log.level=INFO
quarkus.log.category."{{invokerPackage}}".level=DEBUG
quarkus.log.category."org.hibernate".level=DEBUG
quarkus.datasource.db-kind = postgresql
quarkus.hibernate-orm.database.generation=drop-and-create
quarkus.hibernate-orm.log.sql=true
quarkus.datasource.devservices.username=postgres
quarkus.datasource.devservices.password=postgres
quarkus.datasource.devservices.db-name=quarkus
{{#useGzipFeature}}
quarkus.resteasy.gzip.enabled=true
quarkus.resteasy.gzip.max-input=10M
{{/useGzipFeature}}
quarkus.grpc.server.use-separate-server=false
quarkus.generate-code.grpc.scan-for-proto=com.google.api.grpc:proto-google-common-protos

{{#models}}
{{#model}}
mp.messaging.incoming.{{classVarName}}s-in.connector=smallrye-kafka
mp.messaging.incoming.{{classVarName}}s-in.topic={{classVarName}}s
mp.messaging.outgoing.{{classVarName}}s-out.connector=smallrye-kafka
mp.messaging.outgoing.{{classVarName}}s-out.topic={{classVarName}}s
{{/model}}
{{/models}}



