# Configuration file
# key = value
quarkus.http.port=8080
mp.openapi.scan.disable=true
quarkus.log.level=INFO
quarkus.log.category."{{invokerPackage}}".level=DEBUG
quarkus.datasource.db-kind = postgresql
quarkus.hibernate-orm.database.generation=drop-and-create
quarkus.hibernate-orm.log.sql=true
quarkus.hibernate-orm.sql-load-script=import.sql
quarkus.datasource.devservices.username=postgres
quarkus.datasource.devservices.password=postgres
quarkus.datasource.devservices.port=5432
quarkus.datasource.devservices.db-name=quarkus
{{#useGzipFeature}}
quarkus.resteasy.gzip.enabled=true
quarkus.resteasy.gzip.max-input=10M
{{/useGzipFeature}}
