package {{invokerPackage}};

import org.mapstruct.*;
import {{modelPackage}}.*;

@Mapper(componentModel = "jakarta")
public interface Mappers {

    {{#models}}
    {{#model}}
    {{classname}} from{{classname}}Dto({{classname}}Dto {{classVarName}}Dto);
    {{/model}}
    {{/models}}
}

