{{#useSwaggerAnnotations}}
import io.swagger.annotations.*;
{{/useSwaggerAnnotations}}
import java.util.Objects;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;
import com.fasterxml.jackson.annotation.JsonTypeName;
import javax.validation.constraints.*;
import javax.validation.Valid;

{{#models}}
{{#model}}
{{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}{{#description}}/**
 * {{.}}
 **/{{/description}}
{{#useSwaggerAnnotations}}{{#description}}@ApiModel(description = "{{{.}}}"){{/description}}{{/useSwaggerAnnotations}}
@JsonTypeName("{{name}}")
{{>generatedAnnotation}}{{>additionalModelTypeAnnotations}}
{{#vendorExtensions.x-class-extra-annotation}}
{{{vendorExtensions.x-class-extra-annotation}}}
{{/vendorExtensions.x-class-extra-annotation}}

public class {{classname}}Dto {{#parent}}extends {{{.}}}{{/parent}} {{#vendorExtensions.x-implements}}{{#-first}}implements {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{/vendorExtensions.x-implements}} {
  {{#readWriteVars}}
  {{#isEnum}}
  {{^isContainer}}
  {{>enumClass}}
  {{/isContainer}}
  {{#isContainer}}
  {{#mostInnerItems}}
  {{>enumClass}}
  {{/mostInnerItems}}
  {{/isContainer}}
  {{/isEnum}}

  {{#vendorExtensions.x-field-extra-annotation}}
  {{{vendorExtensions.x-field-extra-annotation}}}
  {{/vendorExtensions.x-field-extra-annotation}}
  private {{#useBeanValidation}}@Valid {{/useBeanValidation}}{{{datatypeWithEnum}}} {{name}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};
  {{/readWriteVars}}
  {{#generateBuilders}}
  {{^additionalProperties}}

  protected {{classname}}Dto({{classname}}DtoBuilder<?, ?> b) {
    {{#parent}}
    super(b);
    {{/parent}}
    {{#readWriteVars}}
    this.{{name}} = b.{{name}};
    {{/readWriteVars}}
  }

  public {{classname}}Dto() {
  }
  {{/additionalProperties}}
  {{/generateBuilders}}

  {{#readWriteVars}}
  /**
   {{#description}}
   * {{.}}
   {{/description}}
   {{#minimum}}
   * minimum: {{.}}
   {{/minimum}}
   {{#maximum}}
   * maximum: {{.}}
   {{/maximum}}
   **/
  public {{classname}}Dto {{name}}({{{datatypeWithEnum}}} {{name}}) {
    this.{{name}} = {{name}};
    return this;
  }

  
  {{#vendorExtensions.x-extra-annotation}}{{{vendorExtensions.x-extra-annotation}}}{{/vendorExtensions.x-extra-annotation}}{{#useSwaggerAnnotations}}
  @ApiModelProperty({{#example}}example = "{{{.}}}", {{/example}}{{#required}}required = {{required}}, {{/required}}value = "{{{description}}}"){{/useSwaggerAnnotations}}
  @JsonProperty("{{baseName}}")
{{#useBeanValidation}}{{>beanValidation}}{{/useBeanValidation}}  public {{>beanValidatedType}} {{getter}}() {
    return {{name}};
  }

  @JsonProperty("{{baseName}}")
  {{#vendorExtensions.x-setter-extra-annotation}}{{{vendorExtensions.x-setter-extra-annotation}}}
  {{/vendorExtensions.x-setter-extra-annotation}}public void {{setter}}({{{datatypeWithEnum}}} {{name}}) {
    this.{{name}} = {{name}};
  }

  {{#isArray}}
  public {{classname}}Dto add{{nameInCamelCase}}Item({{{items.datatypeWithEnum}}} {{name}}Item) {
    if (this.{{name}} == null) {
      this.{{name}} = {{{defaultValue}}}{{^defaultValue}}new {{#uniqueItems}}LinkedHashSet{{/uniqueItems}}{{^uniqueItems}}ArrayList{{/uniqueItems}}<>(){{/defaultValue}};
    }

    this.{{name}}.add({{name}}Item);
    return this;
  }

  public {{classname}}Dto remove{{nameInCamelCase}}Item({{{items.datatypeWithEnum}}} {{name}}Item) {
    if ({{name}}Item != null && this.{{name}} != null) {
      this.{{name}}.remove({{name}}Item);
    }

    return this;
  }
  {{/isArray}}
  {{#isMap}}
  public {{classname}}Dto put{{nameInCamelCase}}Item(String key, {{{items.datatypeWithEnum}}} {{name}}Item) {
    if (this.{{name}} == null) {
      this.{{name}} = {{{defaultValue}}}{{^defaultValue}}new HashMap<>(){{/defaultValue}};
    }

    this.{{name}}.put(key, {{name}}Item);
    return this;
  }

  public {{classname}}Dto remove{{nameInCamelCase}}Item({{{items.datatypeWithEnum}}} {{name}}Item) {
    if ({{name}}Item != null && this.{{name}} != null) {
      this.{{name}}.remove({{name}}Item);
    }

    return this;
  }
  {{/isMap}}
  {{/readWriteVars}}

  @Override
  public boolean equals(Object o) {
    if (this == o) {
      return true;
    }
    if (o == null || getClass() != o.getClass()) {
      return false;
    }{{#hasVars}}
    {{classname}}Dto {{classVarName}} = ({{classname}}Dto) o;
    return {{#readWriteVars}}{{#isByteArray}}Arrays{{/isByteArray}}{{^isByteArray}}Objects{{/isByteArray}}.equals(this.{{name}}, {{classVarName}}.{{name}}){{^-last}} &&
        {{/-last}}{{/readWriteVars}}{{#parent}} &&
        super.equals(o){{/parent}};{{/hasVars}}{{^hasVars}}
    return {{#parent}}super.equals(o){{/parent}}{{^parent}}true{{/parent}};{{/hasVars}}
  }

  @Override
  public int hashCode() {
    return Objects.hash({{#readWriteVars}}{{^isByteArray}}{{name}}{{/isByteArray}}{{#isByteArray}}Arrays.hashCode({{name}}){{/isByteArray}}{{^-last}}, {{/-last}}{{/readWriteVars}}{{#parent}}{{#hasVars}}, {{/hasVars}}super.hashCode(){{/parent}});
  }

  @Override
  public String toString() {
    StringBuilder sb = new StringBuilder();
    sb.append("class {{classname}}Dto {\n");
    {{#parent}}sb.append("    ").append(toIndentedString(super.toString())).append("\n");{{/parent}}
    {{#readWriteVars}}sb.append("    {{name}}: ").append(toIndentedString({{name}})).append("\n");
    {{/readWriteVars}}sb.append("}");
    return sb.toString();
  }

  /**
   * Convert the given object to string with each line indented by 4 spaces
   * (except the first line).
   */
  private String toIndentedString(Object o) {
    if (o == null) {
      return "null";
    }
    return o.toString().replace("\n", "\n    ");
  }

{{#generateBuilders}}{{^additionalProperties}}
  public static {{classname}}DtoBuilder<?, ?> builder() {
    return new {{classname}}DtoBuilderImpl();
  }

  private static final class {{classname}}DtoBuilderImpl extends {{classname}}DtoBuilder<{{classname}}Dto, {{classname}}DtoBuilderImpl> {

    @Override
    protected {{classname}}DtoBuilderImpl self() {
      return this;
    }

    @Override
    public {{classname}}Dto build() {
      return new {{classname}}Dto(this);
    }
  }

  public static abstract class {{classname}}DtoBuilder<C extends {{classname}}Dto, B extends {{classname}}DtoBuilder<C, B>> {{#parent}}extends {{{.}}}Builder<C, B>{{/parent}} {
    {{#readWriteVars}}
    private {{{datatypeWithEnum}}} {{name}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};
    {{/readWriteVars}}
  {{^parent}}
    protected abstract B self();

    public abstract C build();
    {{/parent}}

    {{#readWriteVars}}
    public B {{name}}({{{datatypeWithEnum}}} {{name}}) {
      this.{{name}} = {{name}};
      return self();
    }
    {{/readWriteVars}}
  }{{/additionalProperties}}{{/generateBuilders}}

}
{{/model}}
{{/models}}